<h1>ユーザー情報編集</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :update, @user)) %>

<span><%= link "Back", to: Routes.user_path(@conn, :mypage, current_user(@conn)) %></span>
<span><%= link "削除", to: Routes.user_path(@conn, :delete, @user), method: :delete, data: [confirm: "本当によろしいですか？"] %></span>
