    <h1>ユーザー情報編集</h1>

    <%= render "edituserform.html", Map.put(assigns, :action, Routes.user_path(@conn, :update, @user)) %>

    <%= link "戻る", to: Routes.user_path(@conn, :mypage, current_user(@conn)), class: "btn btn-outline-success btn-sm" %>
