    <h1>パスワード変更</h1>

    <%= render "editpassform.html", Map.put(assigns, :action, Routes.user_path(@conn, :update, @user)) %>

    <%= link "戻る", to: Routes.user_path(@conn, :myinfo, current_user(@conn)), class: "btn btn-outline-success btn-sm" %>
