<div class="l-container">
  <div class="main_search">
<h1><%= @user.name %>さんのマイページ</h1>
<h2>小説投稿</h2>
<div class="nav">
  <ul>
    <li><%= link "新規小説作成", to: Routes.article_path(@conn, :new) %></li>
  </ul>

<h2>小説編集</h2>
  <ul>
      <li><%= link "投稿済み小説", to: Routes.article_path(@conn, :mynovellists, @user.articles) %></li>
  </ul>

<h2>ユーザー設定</h2>
  <ul>
    <li><%= link "ユーザー情報", to: Routes.user_path(@conn, :myinfo, @user) %></li>
  </ul>
</div>
</div>
</div>
