<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8"/>
   <link rel="stylesheet" href="mvp.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "NovelService", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <div class="l-header">
      <div class="p-header">
        <div class="p-header_inner">
          <h1 class="p-header_logo"><%= link to: Routes.article_path(@conn, :home)do %>
            <img src="<%= Routes.static_path(@conn, "/images/aha.png") %>" alt="Phoenix Framework Logo"/>
          <% end %>
        </h1>
          <div class="p-header_subnav">
            <ul class="p-header_subnav_list">
              <%= unless(current_user(@conn)) do %>
              <li class="p-header_subnav_item"><%= link "ログイン", to: Routes.session_path(@conn, :new) %></li>
              <% else %>
              <li class="p-header_subnav_item"><%= link "ログアウト", to: Routes.session_path(@conn, :logout), method: :delete %></li>
              <% end %>
              <%= unless current_user(@conn) do %>
                <%= link to: Routes.session_path(@conn, :new) do %>
                  <li class="p-header_subnav_item">マイページ</li>
                <% end %>
              <%= else %>
                <%= link to: Routes.user_path(@conn, :mypage, current_user(@conn)) do %>
                  <li class="p-header_subnav_item">マイページ</li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="p-main-nav">
      <ul class="p-main-nav_list">
        <%= link to: Routes.article_path(@conn, :home) do %>
          <li class="p-main-nav_item">ホーム</li>
        <% end %>
        <%= unless current_user(@conn) do %>
          <%= link to: Routes.session_path(@conn, :new) do %>
            <li class="p-main-nav_item">マイページ</li>
          <% end %>
        <% else %>
          <%= link to: Routes.user_path(@conn, :mypage, current_user(@conn)) do %>
            <li class="p-main-nav_item">マイページ</li>
          <% end %>
        <% end %>
        <%= link to: Routes.article_path(@conn, :index) do %>
          <li class="p-main-nav_item">小説検索</li>
        <% end %>
        <%= link to: Routes.user_path(@conn, :index) do %>
          <li class="p-main-nav_item">ユーザー検索</li>
        <% end %>
        <%= link to: Routes.article_path(@conn, :rank) do %>
          <li class="p-main-nav_item">ランキング</li>
        <% end %>
      </ul>
    </div>
    <%= @inner_content %>
  </body>
</html>
